.Games {
  font-family: BSSFont;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  width: 100%;
  height: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--black-color);
}

.title {
  font-size: xx-large;
  color: var(--black-color);
  letter-spacing: 5px;
  text-align: center;
}

.main-game-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  background-color: var(--newsbox-color);
  height: 400px;
  padding-left: 50px;
}

.image-container {
  overflow: hidden;
  width: 40%;
}

.game-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-game-text {
  margin-top: 25px;
  margin-left: 50px;
  padding-right: 50px;
  width: 70%;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.go-button {
  font-family: BSSFont;
  font-size: x-large;
  letter-spacing: 2px;
  background-color: var(--white-color);
  border-style: solid;
  border-radius: 10px;
  border-color: var(--black-color);
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.go-button:hover {
  color: var(--white-color);
  background-color: var(--black-color);
  border-color: var(--white-color);
}

.sub-game-container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
